@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  color: #2b2b2b;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  position: relative;
}

.search-section {
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(./img/drink-glass-glassware-lemon-316891.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.app-title {
    color: #f9f9f9;
    font-family: 'Antic Slab', serif;
    font-size: 45px;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  
  .search-section,
  .flex {
    display: flex;
  }
  
  input,
  button {
    border: 1px solid #ffff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    padding: 8px 10px;
    margin: 0;
  }
  
  input[type='text'] {
    width: 350px;
  }
  
  input:focus {
    outline: none;
  }
  
  